* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-template-rows: 1fr 1fr 9fr;
}

.header-top {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-top: 20px;
}

.search-container {
  display: flex;
}

.search-icon {
  height: 2em;
  padding-left: 20px;
}

.search-bar {
  height: 2em;
  width: 45em;
  background-color: #e2e8f0;
  border: #e2e8f0;
  border-radius: 10px;
  padding-left: 15px;
}

.notifications {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.header-bottom {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.left-sidebar {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: #0369a1;

  display: grid;
  padding-top: 20px;
  padding-left: 30px;
}

.left-sidebar h1 {
  color: white;
  grid-row: 1;
  padding-right: 20px;
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 5;
}

.sidebar-settings {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
}

.left-sidebar a {
  color: white;
  text-decoration: none;
  font-size: larger;
  margin-bottom: 10px;
}

.left-sidebar a:hover {
  text-decoration: underline;
}

.main {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #e2e8f0;
}

.right-bar {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #e2e8f0;
}